$containerMaxWidth: 1320px;
$greedGutter: 30px;

// Text
$colorText: #202020;
$colorTextLight: #fff;
$colorTextGrey: #cacaca;
$colorTextGreyDark: #999;
$colorTextGreyLight: #E9E9E9;
$colorTextRude: #ff6e30;

// BackGround
$colorBackground: #202020;
$colorBackgroundLight: #fff;
$colorBackgroundCloudy: rgba(32, 32, 32, 0.85);
$colorBackgroundGreyDark: #999;
$colorBackgroundGreyLight: #E9E9E9;
$colorBackgroundRude: #ff6e30;
$colorBackgroundNight: #4A4A4A;

//focus hover active
$colorBackgroundHover: #BC572B;
$colorTextActive: #CE4307;
$colorBtnBgActive: #CE4307;
