@import '_variables.scss';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"), url("./fonts/roboto_regular.woff2") format("woff2"), url("./fonts/roboto_regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url("./fonts/roboto_bold.woff2") format("woff2"), url("./fonts/roboto_bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "TT Firs Neue";
  src: local("TT Firs Neue Regular"), local("TTFirsNeue-Regular"), url("./fonts/TTFirsNeue-Regular.woff2") format("woff2"), url("./fonts/TTFirsNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("TTFirsNeue-Bold.eot");
  src: local("TT Firs Neue Bold"), local("TTFirsNeue-Bold"), url("./fonts/TTFirsNeue-Bold.woff2") format("woff2"), url("./fonts/TTFirsNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "TT Firs Neue";
  src: local("TT Firs Neue Medium"), local("TTFirsNeue-Medium"), url("./fonts/TTFirsNeue-Medium.woff2") format("woff2"), url("./fonts/TTFirsNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

body {
  // max-width: 1920px;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0 auto;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: $greedGutter;
  grid-column-gap: 30px;
  -ms-grid-column-align: 30px;
}

.container {
  padding: 0 15px;
  max-width: $containerMaxWidth;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  font-family: "TT Firs Neue", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.visually-hidden {
  visibility: hidden;
  display: none;
}
