@import '_variables.scss';
@import '_mixins.scss';

.header {
  background-color: $colorBackground;

  &__container {
    padding: 0 15px;
    max-width: $containerMaxWidth;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 21px;
  }

  &__logo {
    grid-column: span 3;
    margin-right: 0;
    vertical-align: text-bottom;

    & svg {
      display: inline-block;
      height: 31px;
    }

    &:focus {
      outline: none;
    }
  }

  &__btn {
    grid-column: span 2;
    justify-self: end;
    align-self: center;
    height: 25px;
    color: #CACACA;
    outline: none;
    outline-color: transparent;
    transition: color .3s ease-in-out;

    &:focus {
      color: #BC572B;
    }

    &:hover {
      color: #FF6E30;
    }

    &:active {
      color: #CE4307;
    }

    & path {
      fill: currentColor !important;
    }
  }
}

.nav {
  grid-column: span 7;
  align-self: center;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 79px;
    @include clearListStryles;
  }

  &__link {
    position: relative;
    display: inline-block;
    font-family: "TT Firs Neue", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $colorTextLight;
    line-height: normal;
    text-decoration: none;
    white-space: nowrap;
    outline: none;
    transition: color .3S ease-in-out, background-color .3S ease-in-out;
    z-index: 2;

    &::after {
      content: '';
      position: absolute;
      top: 0px;
      right: -5px;
      bottom: -1px;
      left: -5px;
      background-color: $colorBackgroundHover;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      z-index: -1;
    }


    &:focus::after {
      opacity: 1;

    }

    &:hover {
      color: $colorTextRude;

      &::after {
        background-color: transparent;
      }
    }

    &:active {
      color: $colorTextActive;

      &::after {
        background-color: transparent;
      }
    }
  }

  & .burger {
    position: relative;
    display: none;
    top: auto;
    right: auto;
    width: 20px;
    height: 18px;
    background-color: $colorBackgroundNight;
    outline: none;
  }

  & .burger__line {
    position: absolute;
    display: block;
    height: 2px;
    background-color: $colorBackgroundLight;
  }

  & .burger__line:first-child {
    top: 0;
    width: 100%;
  }

  & .burger__line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  & .burger__line:last-child {
    bottom: 0;
    width: 50%;
  }


  & .burger__active .burger__line:nth-child(2) {
    opacity: 0;
  }

  & .burger__active .burger__line:first-child {
    left: 0;
    top: 50%;
    width: 12px;
    transform: translate(36%, -50%) rotate(45deg);
    transform-origin: center;
    transition: transform .3s ease-in-out, top .3s ease-in-out, left .3s ease-in-out;
  }

  & .burger__active .burger__line:last-child {
    left: 0;
    top: 50%;
    width: 12px;
    transform: translate(36%, -50%) rotate(-45deg);
    transform-origin: center;
    transition: transform .3s ease-in-out, top .3s ease-in-out, left .3s ease-in-out;
  }
}
