@import '_variables.scss';
@import '_mixins.scss';

:root {
  --white: #999;
}

.project {

  &__container {
    padding-top: 71px;
  }

  &__title {
      margin-bottom: 12px;
  }
  &__list {
    @include clearListStryles();
    grid-template-rows: auto;
    row-gap: 30px;
    grid-row-gap: 30px;
    -ms-grid-row-align: 30px;
  }

}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 0;

  &__img-picture {
    background-color: $colorBackground;
  }


  &__content {
    max-width: 100%;
  }

  &_small {
    grid-column: span 2;
  }

  &_medium {
    grid-column: span 3;
  }

  &_large {
    grid-column: span 6;

    & picture {
      height: 100%;
    }

    & img {
      height: 100%;
    }

  }
  &__large-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    left: 30px;
    top: 26px;
    bottom: 30px;
    max-width: 295px;
  }

  &__img {
    margin-bottom: 18px;
  }

  &__hashteg {
    position: absolute;
    top: 7px;
    right: 7.5px;
    @include hashtegProjectBackGround();
  }

  &__hashteg-span {
    @include hashtegSpan();
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 7px;
    font-family: "TT Firs Neue", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: $colorTextLight;
  }

  &__descr {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 0;
    margin-bottom: 14px;
    overflow: hidden; /* Обрезаем всё за пределами блока */
    @include fontRoboto400_16();
    line-height: 137%;
    color: $colorBackground;

    &-large{
      margin-bottom: auto;
      color: $colorTextLight;
    }
  }

  &__data {
    padding-left: 18px;
    height: 14px;
    background-image: url('./img/sprite.svg#calendar');
    background-repeat: no-repeat;
    background-position-x: -37px;
    background-position-y: 0;

    &-time {
      vertical-align: super;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      color: $colorTextGreyDark;
    }

    &-large {
      margin-bottom: 6px;
      color: $colorTextLight;
      background-image: url(./img/sprite.svg#calendar_white);
      background-position-x: -37px;
      background-position-y: 0;
      background-repeat: no-repeat;

      & .card__data-time {
        color: $colorTextLight;
      }
    }

  }

  &__btn {
    @include btnStyleBorder()
  }
}
