@charset "UTF-8";
@import 'global.scss'; // ипорт файла _common.scss
@import 'header.scss';
@import 'hero.scss';
@import 'about.scss';
@import 'project.scss';
@import 'contacts.scss';
@import 'footer.scss';
@import 'media.scss';
