<!-- about -->
<section class="about" id="about">
  <div class="container about__container">
    <h2 class="about__title section-title">
      О&nbsp;студии
    </h2>
    <div class="grid">
      <div class="about__left">
        <div class="about__descr">
          В&nbsp;рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно
          синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны:
          высокотехнологичная концепция общественного уклада требует от&nbsp;нас анализа соответствующих условий
          активизации! Следует отметить, что семантический разбор внешних противодействий фиксирует необходимость
          распределения внутренних резервов и&nbsp;ресурсов. Безусловно, граница обучения кадров предоставляет широкие
          возможности для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения
          предполагает независимые способы реализации новых принципов формирования материально-технической
          и&nbsp;кадровой базы. Приятно, граждане, наблюдать, как явные признаки институционализации являются только
          методом политического участия и&nbsp;нарушающими общечеловеческие нормы этики.
        </div>
      </div>
      <div class="about__right">
      </div>
      <h3 class="about__subtitle">
        Подписаться на рассылку
      </h3>
      <form action="https://jsonplaceholder.typicode.com/posts" class="about__form form">
        <label class="form__label">
          <span class="visually-hidden">Введите эелектронный адрес</span>
          <input type="email" name="email" class="form__input form__input-email" placeholder="Email" required="">
        </label>
        <button class="form__btn btn-reset" aria-label="отправить">
          Отправить
        </button>
      </form>
    </div>
  </div>
</section>
