<footer class="footer">
  <div class="container footer__container grid">
    <div class="footer__mark">
      <a href="#" class="footer__logo">
        <svg width="191" height="31" viewBox="0 0 191 31" aria-label="лого">
          <use xlink:href="./img/sprite.svg#logo"></use>
        </svg>
      </a>
      <p class="footer__organization">
        Фотостудия High pass<sup class="reg">&reg;</sup> 2018&ndash;2020
      </p>
    </div>
    <div class="footer__centr">
      <figure class="footer__figure">
        <q class="footer__quote">
          Которая из&nbsp;моих фотографий самая любима Та, которую я&nbsp;собираюсь снять завтра.
          <!-- Которая из&nbsp;моих фотографий самая любимая? Та, которую я&nbsp;собираюсь снять завтра. -->
        </q>
        <figcaption class="footer__quote-autor">
          &copy;&nbsp;Имоджен Каннингем
        </figcaption>
      </figure>
    </div>
    <div class="footer__social social">
      <p class="social__slogan">
        Больше интересного:
      </p>
      <div class="social__link">
        <a href="#" class="social__ok">
          <svg width="30" height="30" viewBox="0 0 30 30"  aria-label="одноклассники">
            <use xlink:href="./img/sprite.svg#ok"></use>
          </svg>
        </a>
        <a href="#" class="social__vk">
          <svg width="30" height="30" viewBox="0 0 30 30"  aria-label="в контакте">
            <use xlink:href="./img/sprite.svg#vk"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
