<header class="header">
  <div class=" header__container grid">
    <a href="#" class="header__logo" aria-label="High Pass logo">
      <svg width="191" height="31" viewBox="0 0 191 31">
        <use xlink:href="./img/sprite.svg#logo"></use>
      </svg>
    </a>
    <nav class="nav header__nav" title="Главное меню">
      <ul class="nav__list">
        <li class="nav__item"><a href="#about" class="nav__link">О&nbsp;студии</a></li>
        <li class="nav__item"><a href="#project" class="nav__link">Наши&nbsp;проекты</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Мастер-классы</a></li>
        <li class="nav__item"><a href="#contacts" class="nav__link">Контакты</a></li>
      </ul>
      <button class="btn-reset nav__burger burger" aria-label="меню">
        <span class="burger__line "></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>
    </nav>
    <button class="header__btn btn-reset btn-header" aria-label="найти">
      <svg class="header__btn-svg" width="25" height="25" viewBox="0 0 25 25">
        <use xlink:href="./img/sprite.svg#search"></use>
      </svg>
    </button>
  </div>
</header>
