<section class="hero">
  <div class="container hero__container grid">
    <div class="hero__maincard maincard">
      <div class="maincard__hashteg">
        <span class="maincard__hashteg-span">
          #мастеркласс
        </span>
      </div>
      <p class="maincard__descr">
        Мастер-класс от&nbsp;Игоря Робова
      </p>
      <h1 class="maincard__title">
        Неоновый фотосет 2.0 7&nbsp;июля 20:00
      </h1>
      <button class="maincard__btn btn-reset">
        Узнать больше
      </button>
    </div>
    <h2 class="hero__title section-title">
      Работы участников предыдущего мастер-класса
    </h2>
    <picture class="hero__midlecard">
      <source srcset="./img/hero_2-medium-320.jpg, ./img/hero_2-medium-320_2x.jpg 2x" media="(max-width: 576px)">
      <source srcset="./img/hero_2-medium-768.jpg, ./img/hero_2-medium-768_2x.jpg 2x" media="(max-width: 768px)">
      <source srcset="./img/hero_2-medium-1024.jpg, ./img/hero_2-medium-1024_2x.jpg 2x" media="(max-width: 1024px)">
      <img src="./img/hero_2-medium.jpg" srcset="./img/hero_2-medium_2x.jpg 2x" alt="Фото1">
    </picture>
    <div class="hero__wrap">
      <picture class="hero__smallcard hero__smallcard-1">
        <source srcset="./img/hero_3-small-320.jpg, ./img/hero_3-small-320_2x.jpg 2x" media="(max-width: 576px)">
        <source srcset="./img/hero_3-small-768.jpg, ./img/hero_3-small-768_2x.jpg 2x" media="(max-width: 768px)">
        <source srcset="./img/hero_3-small-1024.jpg, ./img/hero_3-small-1024_2x.jpg 2x" media="(max-width: 1024px)">
        <img src="./img/hero_3-small.jpg" srcset="./img/hero_3-small_2x.jpg 2x" alt="Фото2">
      </picture>
      <picture class="hero__smallcard hero__smallcard-2">
        <source srcset="./img/hero_4-small-320.jpg, ./img/hero_4-small-320_2x.jpg 2x" media="(max-width: 576px)">
        <source srcset="./img/hero_4-small-768.jpg, ./img/hero_4-small-768_2x.jpg 2x" media="(max-width: 768px)">
        <source srcset="./img/hero_4-small-1024.jpg, ./img/hero_4-small-1024_2x.jpg 2x" media="(max-width: 1024px)">
        <img src="./img/hero_4-small.jpg" srcset="./img/hero_4-small_2x.jpg 2x" alt="Фото3">
      </picture>
    </div>
  </div>
</section>
