<!-- project -->
<section class="project" id="project">
  <div class="container project__container">
    <h2 class="project__title section-title">
      Наши проекты
    </h2>
    <div class="project__content">
      <ul class="project__list grid">
        <li class="project__item card card_small card_1">
          <div class="card__img">
            <picture class="card__img-picture">
              <source srcset="./img/project_1-s-320.jpg, ./img/project_1-s-320_2x.jpg 2x" media="(max-width: 576px)">
              <source srcset="./img/project_1-s-768.jpg, ./img/project_1-s-768_2x.jpg 2x" media="(max-width: 768px)">
              <source srcset="./img/project_1-s-1024.jpg, ./img/project_1-s-1024_2x.jpg 2x "
                media="(max-width: 1024px)">
              <img src="./img/project_1-s.jpg" srcset="./img/project_1-s_2x.jpg 2x" alt="пейзаж">
            </picture>
            <div class="card__hashteg">
              <span class="card__hashteg-span">
                #пейзаж
              </span>
            </div>
          </div>
          <div class="card__content">
            <p class="card__descr">
              Синтетически, смешаны с&nbsp;не&nbsp;уникальными данными до&nbsp;степени Lorem_ipsum_dolor_sit__amet
              consectetur adipisicing elit. Nesciunt ipsa sapiente laudantium. Repellendus doloribus perferendis,
              repellat doloremque rerum explicabo quidem earum nulla animi recusandae, asperiores, vel tempore non
              debitis iste.
            </p>
            <div class="card__data card__data-svg">
              <time class="card__data-time" datetime="2024-06-16 19:00">
                16&nbsp;июня
              </time>
            </div>
          </div>
        </li>
        <li class="project__item card card_small card_2">
          <div class="card__img">
            <picture class="card__img-picture">
              <source srcset="./img/project_2-s-320.jpg, ./img/project_2-s-320_2x.jpg 2x" media="(max-width: 576px)">
              <source srcset="./img/project_2-s-768.jpg, ./img/project_2-s-768_2x.jpg 2x" media="(max-width: 768px)">
              <source srcset="./img/project_2-s-1024.jpg, ./img/project_2-s-1024_2x.jpg 2x "
                media="(max-width: 1024px)">
              <img src="./img/project_2-s.jpg" srcset="./img/project_2-s_2x.jpg 2x" alt="портрет">
            </picture>
            <div class="card__hashteg">
              <span class="card__hashteg-span">
                #портрет
              </span>
            </div>
          </div>
          <div class="card__content">
            <p class="card__descr">
              В&nbsp;своём стремлении улучшить опыт мы&nbsp;упускаем, что явные
              Lorem_ipsum_dolor_sit__amet consectetur adipisicing elit. Nesciunt ipsa sapiente laudantium. Repellendus
              doloribus perferendis, repellat doloremque rerum explicabo quidem earum nulla animi recusandae,
              asperiores, vel tempore non debitis iste.
            </p>
            <div class="card__data card__data-svg">
              <time class="card__data-time" datetime="2024-05-28 19:00">
                28&nbsp;мая
              </time>
            </div>
          </div>
        </li>
        <li class="project__item card card_small card_3">
          <div class="card__img">
            <picture class="card__img-picture">
              <source srcset="./img/project_3-s-320.jpg, ./img/project_3-s-320_2x.jpg 2x" media="(max-width: 576px)">
              <source srcset="./img/project_3-s-768.jpg, ./img/project_3-s-768_2x.jpg 2x" media="(max-width: 768px)">
              <source srcset="./img/project_3-s-1024.jpg, ./img/project_3-s-1024_2x.jpg 2x "
                media="(max-width: 1024px)">
              <img src="./img/project_3-s.jpg" srcset="./img/project_3-s_2x.jpg 2x" alt="предмет">
            </picture>
            <div class="card__hashteg">
              <span class="card__hashteg-span">
                #предмет
              </span>
            </div>
          </div>
          <div class="card__content">
            <p class="card__descr">
              Равным образом, высокое качество позиционных высокотехнологичная концепция общественного уклада
              Lorem_ipsum_dolor_sit__amet consectetur adipisicing elit. Nesciunt ipsa sapiente laudantium. Repellendus
              doloribus perferendis, repellat doloremque rerum explicabo quidem earum nulla animi recusandae,
              asperiores, vel tempore non debitis iste.

            </p>
            <div class="card__data card__data-svg">
              <time class="card__data-time" datetime="2024-05-14 19:00">
                14&nbsp;мая
              </time>
            </div>
          </div>
        </li>
        <li class="project__item card card_large card_4">
          <picture class="card__img-picture">
            <source srcset="./img/project_1-latge-320.jpg, ./img/project_1-latge-320_2x.jpg 2x"
              media="(max-width: 576px)">
            <source srcset="./img/project_1-latge-768.jpg, ./img/project_1-latge-768_2x.jpg 2x"
              media="(max-width: 768px)">
            <source srcset="./img/project_1-latge-1024.jpg, ./img/project_1-latge-1024_2x.jpg 2x"
              media="(max-width: 1024px)">
            <img src="./img/project_1-latge.jpg" srcset="./img/project_1-latge_2x.jpg 2x" alt="fuji">
          </picture>
          <div class="card__hashteg">
            <span class="card__hashteg-span">
              #fuji
            </span>
          </div>
          <div class="card__large-content">
            <div class="card__data card__data-svg card__data-large">
              <time class="card__data-time" datetime="2024-04-09 19:00">
                9&nbsp;апреля
              </time>
            </div>
            <h3 class="card__subtitle">
              Cемантический разбор
            </h3>
            <p class="card__descr card__descr-large">
              В&nbsp;рамках спецификации современных стандартов, интерактивные прототипы
            </p>
            <button class="card__btn btn-reset">
              О&nbsp;проекте
            </button>
          </div>
        </li>
        <li class="project__item card card_large card_5">
          <picture class="card__img-picture">
            <source srcset="./img/project_2-large-320.jpg, ./img/project_2-large-320_2x.jpg 2x"
              media="(max-width: 576px)">
            <source srcset="./img/project_2-large-768.jpg, ./img/project_2-large-768_2x.jpg 2x"
              media="(max-width: 768px)">
            <source srcset="./img/project_2-large-1024.jpg, /img/project_2-large-1024_2x.jpg 2x"
              media="(max-width: 1024px)">
            <img src="./img/project_2-large.jpg" srcset="./img/project_2-large_2x.jpg 2x" alt="проектзабвение">
          </picture>
          <div class="card__hashteg">
            <span class="card__hashteg-span">
              #проектзабвение
            </span>
          </div>
          <div class="card__large-content">
            <div class="card__data card__data-svg card__data-large">
              <time class="card__data-time" datetime="2024-03-20 19:00">
                20&nbsp;марта
              </time>
            </div>
            <h3 class="card__subtitle">
              Забвение
            </h3>
            <p class="card__descr card__descr-large">
              Играет важную роль в&nbsp;формировании глубокомысленных рассуждений </p>
            <button class="card__btn btn-reset">
              О&nbsp;проекте
            </button>
          </div>
        </li>
        <li class="project__item card card_medium card_6">
          <div class="card__img">
            <picture class="card__img-picture">
              <source srcset="./img/project_1-medium-320.jpg, ./img/project_1-medium-320_2x.jpg 2x"
                media="(max-width: 576px)">
              <source srcset="./img/project_1-medium-768.jpg, ./img/project_1-medium-768_2x.jpg 2x"
                media="(max-width: 768px)">
              <source srcset="./img/project_1-medium-1024.jpg, ./img/project_1-medium-1024_2x.jpg 2x"
                media="(max-width: 1024px)">
              <img src="./img/project_1-medium.jpg" srcset="./img/project_1-medium_2x.jpg 2x" alt="ретушь">
            </picture>
            <div class="card__hashteg">
              <span class="card__hashteg-span">
                #ретушь
              </span>
            </div>
          </div>
          <div class="card__content">
            <p class="card__descr">
              Как принято считать, многие известные личности и&nbsp;по&nbsp;сей день остаются уделом либералов
              выадалжлажыввввввввввввввввввв доп деткст
            </p>
            <div class="card__data card__data-svg">
              <time class="card__data-time" datetime="2024-03-09 19:00">
                9&nbsp;марта
              </time>
            </div>
          </div>
        </li>
        <li class="project__item card card_medium card_7">
          <div class="card__img">
            <picture class="card__img-picture">
              <source srcset="./img/project_2-medium-320.jpg, ./img/project_2-medium-320_2x.jpg 2x"
                media="(max-width: 576px)">
              <source srcset="./img/project_2-medium-768.jpg, ./img/project_2-medium-768_2x.jpg 2x"
                media="(max-width: 768px)">
              <source srcset="./img/project_2-medium-1024.jpg, ./img/project_2-medium-1024_2x.jpg 2x"
                media="(max-width: 1024px)">
              <img src="./img/project_2-medium.jpg" srcset="./img/project_2-medium_2x.jpg 2x" alt="портрет">
            </picture>
            <div class="card__hashteg">
              <span class="card__hashteg-span">
                #портрет
              </span>
            </div>
          </div>
          <div class="card__content">
            <p class="card__descr">
              С учётом сложившейся международной обстановки, новая модель организационной
              Lorem_ipsum_dolor_sit_amet_consectetur adipisicing elit. Vel animi repudiandae ut corporis assumenda ipsam
              provident labore iure consequatur placeat. Assumenda eveniet reiciendis commodi neque. Accusamus facilis
              vitae aspernatur porro.
            </p>
            <div class="card__data card__data-svg">
              <time class="card__data-time" datetime="2024-03-01 19:00">
                1&nbsp;марта
              </time>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
